@media screen and (max-width: 1024px) {
  .sites .carousel .item .content {
    font-size: 16px;
    padding: 5px;
  }
  .sites .title .content {
    font-size: 18px;
  }
  .sites .carouselSwiper .jiantou {
    width: 28px;
    height: 30px;
    text-align: center;
  }
  .sites .carouselSwiper .iconfont {
    font-size: 14px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 0;
  }
}
@media screen and (max-width: 767px) {
  .sites .sitesCenter {
    width: 90%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .sites .carousel .item {
    height: inherit;
  }
  .sites .carousel .item .content {
    font-size: 14;
  }
}
